#botonSalir {
    width: 20px;
    float: left;
}

#tituloPrincipal {
    margin-top: 10px;
    width: 85%;
    float: left;
}

.texto{
    color: cyan;
}

#labelInfo{
    margin-top: 100px;
}

#imagenContacto{
    width: 10%;
}
