<ion-header>
  <ion-toolbar>
    <ion-title id="tituloPrincipal">List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button id="botonSalir" color="primary" shape="round" fill="solid" (click)="salir()"> 
      Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-avatar slot="start">
        <img src="../../../assets/icon/contact.png">
      </ion-avatar>
      <ion-avatar slot="end">
      </ion-avatar>
      <ion-label>
        <h2 class="texto">{{ usuario.name }}</h2>
        <h2 class="texto">{{ usuario.email }}</h2>
        <h2 class="texto">{{ usuario.phone }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>